<div id= "Header">
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Universities</li>
      </ol>
    </nav>
</div>

<div class="container">
    <div class="card university-card" style="width: 20rem;" *ngFor="let university of universitiesList" >
    <img class="card-img-top" src= {{university.Image}} alt="Card image cap">
        <div class="card-body university-body">
            <button (click)="getBuildings(university.Enabled)" type="button" [ngClass]="{'disabled' : university.Enabled === false}"class="btn btn-primary">{{university.Name}}</button>
            <p class="card-text">{{university.Name}} is located in  {{university.City}}, {{university.Country}}</p>
        </div>
    </div>
</div>

<div id="Footer">

</div>